    <form id="registration-form" name="registrationForm" ng-class="form-group" ng-controller="signupController" ng-submit="registrationForm.$valid && createUser()" novalidate>

        <!-- FIRST NAME -->
        <div class="form-group" ng-class="{ 'has-error' : registrationForm.firstName.$invalid && registrationForm.$submitted }">
            <label>First Name</label>
            <input type="text" name="firstName" class="form-control" ng-model="SignupForm.firstName" required>
            <p ng-show="registrationForm.firstName.$invalid && registrationForm.$submitted" class="help-block">first name is required.</p>
        </div>

        <!-- LAST NAME -->
        <div class="form-group" ng-class="{ 'has-error' : registrationForm.lastName.$invalid && registrationForm.$submitted }">
            <label>Last Name</label>
            <input type="text" name="lastName" class="form-control" ng-model="SignupForm.lastName" required>
            <p ng-show="registrationForm.lastName.$invalid && registrationForm.$submitted" class="help-block">last name is required.</p>
        </div>

        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : registrationForm.email.$invalid && registrationForm.$submitted }">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="SignupForm.email" required>
            <p ng-show="registrationForm.email.$invalid && registrationForm.$submitted" class="help-block">please enter a valid email.</p>
        </div>

        <!-- PASSWORD -->
        <div class="form-group" ng-class="{ 'has-error' : registrationForm.password.$invalid && registrationForm.$submitted }">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="SignupForm.password" ng-minlength="8" required>
            <p ng-show="registrationForm.password.$error.minlength && registrationForm.$submitted" class="help-block">password must be at least 8 characters.</p>
            <p ng-show="registrationForm.password.$error.required && registrationForm.$submitted" class="help-block">password is required.</p>
        </div>

        <!-- PHONE NUMBER -->
        <div class="form-group" ng-class="{ 'has-error' : registrationForm.password.$invalid && registrationForm.$submitted }">
            <label>Phone Number</label>
            <input type="text" name="phoneNumber" class="form-control" ng-model="SignupForm.phoneNumber" ng-minlength="10" ng-maxlength="10" required>
            <p ng-show="registrationForm.phoneNumber.$error.required && registrationForm.$submitted" class="help-block">phone number is required.</p>
            <p ng-show="registrationForm.phoneNumber.$error.minlength && registrationForm.$submitted" class="help-block">must be 10 digits in length</p>
            <p ng-show="registrationForm.phoneNumber.$error.maxlength && registrationForm.$submitted" class="help-block">must be 10 digits in length</p>

        </div>

        <input value="Create Account" type="submit" class="btn btn-default">

    </form>

    <button  class= "btn btn-danger" ng-click="googleAuth()">Login with Google</button>