$offwhite:#f0f0f0;
#listingsWrapper{
	// display: flex;
	// flex-direction: column;
	// flex-wrap: wrap;
	// height: 100vw;
}

.listing{
	padding-bottom:5%;
	background-color:$offwhite;
	border-radius:10px;
	border:2px solid darken($offwhite,10%);
	img{
		margin:0 auto;
		border:5px solid darken($offwhite,30%);
		max-width:100%;
		// max-height:200px;

	}
	input{
		width:15%;
	}
	.addToCartButton{
		padding-top:1px;
		padding-bottom:1px;
	}
}
.listing-header {
	h2 {
		display: inline-block;
	}
	button {
		margin-bottom: 11px;
	}
}
.product-details {
	img {
		border: none;
		margin: 0 1% 1% 0;
	}
	h3 {
		text-align: center;
	}
}
#review-comment {
	width: 500px;
}