$purple: rgb(48, 34, 74);
navbar {

  display: block;
  background-color: rgb(48, 34, 74);

  fullstack-logo {
    padding-top: 0px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: white;
    &:hover {
      color: darken($purple, 40%);
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: #F8E81C;
    }
    &:hover {
      transition: color 0.2s;
    }
    &:focus {
      color: #F8E81C;
      background: transparent;
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: #F8E81C;
      cursor: pointer;
    }
  }

}