<h1>Account Summary</h1>

<h3>Current Shopping Cart:</h3>

<div class="row">
	<div class="col-sm-12">
		<h1 class="text-center"><i class="fa fa-shopping-cart fa-2x"></i></h1>
	</div>
</div>
<div ng-if="cartItems.length==0" class="text-center">
<h3 >Your cart is currently empty.</h3>
<p><i ui-sref="home" class="fa fa-home fa-3x"></i></p>
</div>
<!-- {{cartItems}} -->
<div ng-repeat="item in cartItems" class="row cartItem">
	<div class="col-md-2 imgContainer">
		<img src="{{item.photoUrl}}" alt="">
	</div>
	<div class="col-md-2"><h2>{{item.title}}</h2></div>
	<!-- <div class="col-md-3"><p>{{item.description}}</p></div> -->
	
	<div class="col-md-1"><p><b>Price:  </b>{{item.price|currency}}</p></div>
	<div class="col-md-2"><button class="btn btn-info">Contact Seller</button></div>
	<div class="col-md-1"><input type="number" ng-model="item.quantity"></div>
	<div ng-click="update(item._id,item.quantity)" class="col-md-1"><i class="fa fa-refresh fa-2x"></i></div>
	<div ng-click = "removeItem(item._id)"class="col-md-1"><i class="fa fa-trash-o fa-2x" ></i></div>
</div>
<div ng-if="cartItems.length>0" class="row text-center checkout">
	<div class="col-md-2 col-md-offset-10">
		<button ui-sref="checkout" class='btn btn-primary'>Proceed to Checkout</button>
	</div>
</div>

<h3>Previous Orders:</h3>

<ul>
	<li ng-repeat="order in orders">{{order.number}}></li>
</ul>
<div ui-view></div>